<h2>Detalhes do cliente</h2>

<div>
    
    <%- include("../../../partial/dl-horizontal") -%>

</div>
<p>
    <a class="btn btn-success btn-lg" href="/adm-cliente-edit" role="button">Editar</a>
    <a class="btn btn-primary " href="/adm-cliente" role="button">voltar</a>
</p>
